@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F1DEC9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Brush Script', cursive;
}

.todo-wrapper {
  background: #8D7B68;
  margin-top: 80px;
  padding: 30px;
  border-radius: 15px;
}

.wrapper__header {
  color: #f8ece4;
  margin-bottom: 0.5rem;
  font-size: 60px;
  text-align: center;
}

.todo-form {
  width: 100%;
  margin-bottom: 10px;
}

.todo-input {
  font-family: 'Short Stack', cursive;
  font-size: 16px;
  color: #F1DEC9;
  outline: none;
  background: none;
  border: 1px solid #C8B6A6;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0 20px 0;
  width: 300px;
}

.todo-input::placeholder {
  color: #c4b7a9;
  font-size: 15px;
}

.todo-button {
  font-family: 'Short Stack', cursive;
  background: #ae9f92;
  color: #F3EEEA;
  border: none;
  border-radius: 10px;
  padding: 14px;
  cursor: pointer;
  margin: 0 0 0 15px;
  cursor: pointer;
}

.todo-button:active {
  background-color: #F3EEEA;
  color: #ae9f92;
}

.todo-element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ad9783;
  color: #f3e7df;
  font-size: 30px;
  padding: 12px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.incompleted {
  cursor: pointer;
}

.completed {
  color: #776B5D;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-button {
  margin: 0 10px 0 0;
}

.delete-button, .edit-button {
  font-family: 'Short Stack', cursive;
  padding: 10px 11px 10px 11px;
  border-radius: 10px;
  border: none;
  background-color: #8d7f71;
  color: #F3EEEA;
  cursor: pointer;

    &:active {
      background-color: #F3EEEA;
      color: #8d7f71;
    }
    &:hover {
      opacity: 0.8;
      transition: 0.2s;
    }
}

